<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a ng-click="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 40px">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav" style="position: fixed;height: auto;z-index: 100">
          <li><a href="#"><i class="icon-chevron-right"></i> Posts</a></li>
          <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> Post</a></li>
          <li><a ng-click="navNewPost()"><i class="icon-chevron-right"></i> New Post</a></li>
        </ul>
    </div>
    <div class="span9">
      <section >
          <h2 class="page-header">{{data.currentPost.title}}</h2>
          <p>{{data.currentPost.contents}}</p>
      </section>
    </div>
  </div>
</div>